
.title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.left-vbox {
    -fx-spacing: 30px;
    -fx-padding: 0 30px;
    -fx-alignment: center;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.right-vbox {
    -fx-spacing: 23px;
    -fx-padding: 0 30px;
    -fx-alignment: center;
}
