

.title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.error-message {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-fill: red;
}

.hboxes {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
    -fx-padding: 0 50px;
}

.hboxes Label {
    -fx-font-weight: bold;
}

Button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}