/* Region Selection Section */
.region-selection {
    -fx-align-items: center;
    -fx-spacing: 10px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 8px;
}


.title {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.region {
    -fx-alignment:center;
    -fx-border-radius:8px;
    -fx-padding:10px;
    -fx-spacing:20px;
}
.region Text{
    -fx-font-size:1.2em;
}
.consumption-fields{
    -fx-spacing:50px;
    -fx-alignment:center;
    -fx-font-weight:bold;
}

/* Total Collected Section */
.total-collected {
    -fx-alignment:top-center;
    -fx-background-color: #ffffffff;
    -fx-font-size: 16px;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
    -fx-border-color: #007bff;
    -fx-padding:10px;
    -fx-spacing:20px;
}

