

.container {
    -fx-padding: 0 10px;
}

.title{
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}




.region-selection {
    -fx-padding: 0 20px;
    -fx-spacing: 10px;
    -fx-border-color: #007bff;
    -fx-border-radius: 8px;

}

.region-selection Label {
    -fx-font-weight: bold;
}




.list-view  {
    -fx-padding: 10px 10px;
    -fx-border-color: #007bff;
    -fx-border-radius: 8px;
}
Button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}


